main {
  height: calc(100vh - 63px);
  background-color: #e8e4e4;
  padding: 20px 50px;
}

.card-container {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 20px;
  column-gap: 20px;
}

.card {
  padding: 5px 10px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: white;
  min-height: 130px;
}