nav {
  height: 63px;
  box-shadow: 0 3px 5px lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}

.user-icon {
  height: 35px;
  width: 35px;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: lightblue;
  cursor: pointer;
}