nav {
  height: 63px;
  box-shadow: 0 3px 5px lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}

.user-icon {
  height: 35px;
  width: 35px;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: lightblue;
  cursor: pointer;
}

nav > ul {
  list-style: none;
}

nav > ul  li {
  display: inline-block;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all linear;
  height: 63px;
}

nav > ul  li:hover {
  background-color: lightgray;
}

nav > ul a  li  {
  padding: 0px 15px;
}